# **Basic Set Programs**

**1. Create a set and display its elements**

In [1]:
def create_display_set():
    s = {"apple", "banana", "cherry"}
    print("Set elements:", s)

create_display_set()

Set elements: {'cherry', 'banana', 'apple'}

**2. Add an element to a set**

In [2]:
def add_element():
    s = {1, 2, 3}
    s.add(4)
    print("After adding 4:", s)

add_element()

After adding 4: {1, 2, 3, 4}

**3. Remove an element from a set**

In [3]:
def remove_element():
    s = {1, 2, 3}
    s.remove(2)
    print("After removing 2:", s)

remove_element()

After removing 2: {1, 3}

**4. Clear all elements from a set**

In [4]:
def clear_set():
    s = {10, 20, 30}
    s.clear()
    print("After clearing:", s)

clear_set()

After clearing: set()

**5. Copy a set to another set**

In [5]:
def copy_set():
    original = {"A", "B", "C"}
    copy = original.copy()
    print("Original:", original)
    print("Copy:", copy)

copy_set()

Original: {'C', 'B', 'A'}
Copy: {'C', 'B', 'A'}

**6. Check if an element exists in a set**

In [6]:
def check_element():
    s = {"red", "blue", "green"}
    print("Is 'blue' in set?", "blue" in s)

check_element()

Is 'blue' in set? True

**7. Find the length of a set**

In [7]:
def set_length():
    s = {100, 200, 300}
    print("Length of set:", len(s))

set_length()

Length of set: 3

**8. Iterate through a set using a loop**

In [8]:
def iterate_set():
    s = {"apple", "banana", "grape"}
    print("Set items:")
    for item in s:
        print(item)

iterate_set()

Set items:
banana
grape
apple

# **Set Operations**

**9. Find the union of two sets**

In [9]:
def set_union():
    a = {1, 2, 3}
    b = {3, 4, 5}
    print("Union:", a | b)

set_union()

Union: {1, 2, 3, 4, 5}

**10. Find the intersection of two sets**

In [10]:
def set_intersection():
    a = {1, 2, 3}
    b = {2, 3, 4}
    print("Intersection:", a & b)

set_intersection()

Intersection: {2, 3}

**11. Find the difference between two sets**

In [11]:
def set_difference():
    a = {1, 2, 3}
    b = {2, 4}
    print("Difference (a - b):", a - b)

set_difference()

Difference (a - b): {1, 3}

**12. Find the symmetric difference between two sets**

In [12]:
def set_symmetric_difference():
    a = {1, 2, 3}
    b = {2, 3, 4}
    print("Symmetric Difference:", a ^ b)

set_symmetric_difference()

Symmetric Difference: {1, 4}

**13. Check if one set is a subset of another**

In [13]:
def is_subset():
    a = {1, 2}
    b = {1, 2, 3, 4}
    print("Is a subset of b?", a.issubset(b))

is_subset()

Is a subset of b? True

**14. Check if one set is a superset of another**

In [14]:
def is_superset():
    a = {1, 2, 3, 4}
    b = {2, 3}
    print("Is a superset of b?", a.issuperset(b))

is_superset()

Is a superset of b? True

**15. Check if two sets are disjoint**

In [15]:
def is_disjoint():
    a = {1, 2}
    b = {3, 4}
    print("Are disjoint sets?", a.isdisjoint(b))

is_disjoint()

Are disjoint sets? True

# **Set Applications**

**16. Remove duplicates from a list using a set**

In [16]:
def remove_duplicates():
    lst = [1, 2, 2, 3, 4, 4, 5]
    unique = set(lst)
    print("List without duplicates:", unique)

remove_duplicates()

List without duplicates: {1, 2, 3, 4, 5}

**17. Convert a list to a set and back to a list**

In [17]:
def list_to_set_back():
    lst = [1, 2, 2, 3]
    s = set(lst)
    new_list = list(s)
    print("Original List:", lst)
    print("Converted back List:", new_list)

list_to_set_back()

Original List: [1, 2, 2, 3]
Converted back List: [1, 2, 3]

**18. Find common elements in two lists using sets**

In [18]:
def common_elements():
    list1 = [1, 2, 3]
    list2 = [2, 3, 4]
    common = set(list1) & set(list2)
    print("Common Elements:", common)

common_elements()

Common Elements: {2, 3}

**19. Get elements in one list but not in another using sets**

In [19]:
def list_diff():
    list1 = [1, 2, 3, 5]
    list2 = [2, 4]
    diff = set(list1) - set(list2)
    print("Only in list1:", diff)

list_diff()

Only in list1: {1, 3, 5}

**20. Use set comprehension to generate a set (e.g., squares or primes)**

In [20]:
def set_comprehension():
    squares = {x**2 for x in range(1, 6)}
    print("Set of squares:", squares)

set_comprehension()

Set of squares: {1, 4, 9, 16, 25}

# **Frozen Set Programs**

**21. Create and print a frozenset**

In [21]:
def frozen_set_example():
    fs = frozenset(["apple", "banana", "cherry"])
    print("FrozenSet:", fs)

frozen_set_example()

FrozenSet: frozenset({'cherry', 'banana', 'apple'})