**1. Check the given number is odd or even**

In [1]:
def check_odd_even(num):
    if num % 2 == 0:
        print(f"{num} is Even")
    else:
        print(f"{num} is Odd")


check_odd_even(5)

5 is Odd

**2. Count the total number of digits in a number**

In [2]:
def count_digits(num):
    count = 0
    n = abs(num)
    while n > 0:
        n //= 10
        count += 1
    print(f"Total digits in {num} = {count}")


count_digits(12345)

Total digits in 12345 = 5

**3. Write a Python program to print the reverse number pattern using a for loop**

   **5 4 3 2 1**

   **4 3 2 1**

   **3 2 1**

   **2 1**

   **1**

In [ ]:
def reverse_number_pattern(n):
    for i in range(n, 0, -1):
        for j in range(i, 0, -1):
            print(j, end=' ')
        print()


reverse_number_pattern(5)

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

**4. Print all prime numbers within a range**

In [6]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            return False
    return True

def primes_in_range(start, end):
    print(f"Prime numbers between {start} and {end}:")
    for num in range(start, end+1):
        if is_prime(num):
            print(num, end=' ')
    print()


primes_in_range(10, 30)

Prime numbers between 10 and 30:
11 13 17 19 23 29

**5. Find the factorial of a given number**

In [5]:
def factorial(n):
    result = 1
    for i in range(2, n+1):
        result *= i
    print(f"Factorial of {n} = {result}")


factorial(5)

Factorial of 5 = 120

**6. Program to check if number is palindrome**

In [4]:
def is_palindrome(num):
    if str(num) == str(num)[::-1]:
        print(f"{num} is a Palindrome")
    else:
        print(f"{num} is not a Palindrome")


is_palindrome(121)

121 is a Palindrome

**7. Program to Check Armstrong Number**

In [12]:
def is_armstrong(num):
    digits = list(map(int, str(num)))
    power = len(digits)
    total = sum(d ** power for d in digits)
    if total == num:
        print(f"{num} is an Armstrong number")
    else:
        print(f"{num} is not an Armstrong number")


is_armstrong(153)

153 is an Armstrong number

**8. Find Maximum of three numbers**

In [11]:
def max_of_three(a, b, c):
    maximum = max(a, b, c)
    print(f"Maximum among {a}, {b}, and {c} is {maximum}")


max_of_three(10, 25, 15)

Maximum among 10, 25, and 15 is 25

**9. Find the Sum of digits**

In [10]:
def sum_of_digits(num):
    total = sum(int(d) for d in str(abs(num)))
    print(f"Sum of digits in {num} = {total}")


sum_of_digits(1234)

Sum of digits in 1234 = 10

**10. Python Program to Print the Natural Numbers Summation Pattern**

 **Given a natural number n, the task is to write a Python program to first find the sum of first n**
 **natural numbers and then print each step as a pattern.**

 **Input: 5**

 **Output:**

 **1 = 1**

 **1 + 2 = 3**

 **1 + 2 + 3 = 6**

 **1 + 2 + 3 + 4 = 10**

 **1 + 2 + 3 + 4 + 5 = 15**

In [9]:
def natural_sum_pattern(n):
    total = 0
    for i in range(1, n+1):
        total += i
        print(" + ".join(str(x) for x in range(1, i+1)), "=", total)


natural_sum_pattern(5)

1 = 1
1 + 2 = 3
1 + 2 + 3 = 6
1 + 2 + 3 + 4 = 10
1 + 2 + 3 + 4 + 5 = 15