**1) Store and display student information (name, age, grade).**

In [1]:
def student_info():
    student = ("Amit", 17, "A")
    print(f"Name: {student[0]}, Age: {student[1]}, Grade: {student[2]}")

student_info()

Name: Amit, Age: 17, Grade: A

**2) List prices of grocery items and total them.**

In [2]:
def grocery_total():
    prices = (20, 35, 15, 40)
    print("Grocery Prices:", prices)
    print("Total Price:", sum(prices))

grocery_total()

Grocery Prices: (20, 35, 15, 40)
Total Price: 110

**3) Pair items with prices using tuples.**

   **(&quot;Milk&quot;, 25), (&quot;Eggs&quot;, 50), (&quot;Bread&quot;, 20)**

In [3]:
def item_prices():
    items = (("Milk", 25), ("Eggs", 50), ("Bread", 20))
    for item in items:
        print(f"{item[0]}: ₹{item[1]}")

item_prices()

Milk: ₹25
Eggs: ₹50
Bread: ₹20

**4) Store and display train schedule as tuples.**

   **(&quot;Rajdhani&quot;, &quot;10:00&quot;), (&quot;Shatabdi&quot;, &quot;12:30&quot;), (&quot;Duronto&quot;, &quot;17:00&quot;)**

In [4]:
def train_schedule():
    schedule = (("Rajdhani", "10:00"), ("Shatabdi", "12:30"), ("Duronto", "17:00"))
    for train in schedule:
        print(f"Train: {train[0]}, Time: {train[1]}")

train_schedule()

Train: Rajdhani, Time: 10:00
Train: Shatabdi, Time: 12:30
Train: Duronto, Time: 17:00

**5) Sort employee records by salary.**

**(&quot;John&quot;, 40000), (&quot;Alice&quot;, 55000), (&quot;Raj&quot;, 30000)**

In [5]:
def sort_employees():
    employees = (("John", 40000), ("Alice", 55000), ("Raj", 30000))
    sorted_employees = sorted(employees, key=lambda x: x[1])
    for emp in sorted_employees:
        print(f"{emp[0]}: ₹{emp[1]}")

sort_employees()

Raj: ₹30000
John: ₹40000
Alice: ₹55000

**6) Count how many students scored above 75 marks.**

**marks = (67, 88, 92, 74, 76, 55)**

In [6]:
def count_high_scores():
    marks = (67, 88, 92, 74, 76, 55)
    count = sum(1 for m in marks if m > 75)
    print(f"Students scoring above 75: {count}")

count_high_scores()

Students scoring above 75: 3

**7) Create a tuple of stock prices and find the max.**

**Prices = (154.5, 160.2, 149.8, 170.1)**

In [7]:
def max_stock_price():
    prices = (154.5, 160.2, 149.8, 170.1)
    print("Stock Prices:", prices)
    print("Maximum Price:", max(prices))

max_stock_price()

Stock Prices: (154.5, 160.2, 149.8, 170.1)
Maximum Price: 170.1

**8) Log temperature readings during the day. Find the average temperature**

**temperatures = (29.5, 30.0, 32.2, 31.5, 28.9)**

In [8]:
def average_temperature():
    temperatures = (29.5, 30.0, 32.2, 31.5, 28.9)
    avg = sum(temperatures) / len(temperatures)
    print("Temperature Readings:", temperatures)
    print("Average Temperature:", round(avg, 2))

average_temperature()

Temperature Readings: (29.5, 30.0, 32.2, 31.5, 28.9)
Average Temperature: 30.42

**9) Schedule appointments (name, time).**

**appointments = (&quot;Doctor&quot;, &quot;10:00 AM&quot;), (&quot;Meeting&quot;, &quot;2:00 PM&quot;)**

In [9]:
def show_appointments():
    appointments = (("Doctor", "10:00 AM"), ("Meeting", "2:00 PM"))
    for appt in appointments:
        print(f"Appointment: {appt[0]}, Time: {appt[1]}")

show_appointments()

Appointment: Doctor, Time: 10:00 AM
Appointment: Meeting, Time: 2:00 PM

**10) Store contact info (name, phone number).**
    
**contacts = (&quot;Anil&quot;, &quot;9876543210&quot;), (&quot;Priya&quot;, &quot;9123456780&quot;)**

In [10]:
def contact_list():
    contacts = (("Anil", "9876543210"), ("Priya", "9123456780"))
    for contact in contacts:
        print(f"Name: {contact[0]}, Phone: {contact[1]}")

contact_list()

Name: Anil, Phone: 9876543210
Name: Priya, Phone: 9123456780

**11) Display exam schedule with subject and time.**

**exams = (&quot;Math&quot;, &quot;9:00 AM&quot;), (&quot;Science&quot;, &quot;11:30 AM&quot;), (&quot;English&quot;, &quot;2:00 PM&quot;)**

In [11]:
def exam_schedule():
    exams = (("Math", "9:00 AM"), ("Science", "11:30 AM"), ("English", "2:00 PM"))
    for exam in exams:
        print(f"Subject: {exam[0]}, Time: {exam[1]}")

exam_schedule()

Subject: Math, Time: 9:00 AM
Subject: Science, Time: 11:30 AM
Subject: English, Time: 2:00 PM